__pycache__/
docs/build/
docs/rst/
docs/source/app.rst
docs/source/config.rst
docs/source/generate_audio.rst
docs/source/hermes.rst
docs/source/model.rst
docs/source/modules.rst
docs/source/_static/
docs/source/_templates/
