<html>
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='hermes.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <H1>Dashboard</H1>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flashes">
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <H2>Hi, {{ current_user.full_name }}!</H2>
    <BR>
    <form method="POST" class="routine-choices">
    {{ form.hidden_tag() }}
    <p>
        {{ form.routine_choices.label }}<br>
        {{ form.routine_choices() }}
    </p>
    <p>
    {{ form.submit() }}</p>
    </form>
    <BR>
<a href="/logout">Logout</a>
  </body>
</html>
