<html>
  <head>
    <title>Dashboard</title>
    {% include 'header.inc' %}
  </head>
  <body>
    {% include 'flashed.inc' %}
    <H1>Dashboard</H1>
    <H2>Hi, {{ current_user.full_name }}!</H2>
    <BR>
    <form method="POST" class="routine-choices">
    {{ form.hidden_tag() }}
    <p>
        {{ form.routine_choices.label }}<br>
        {{ form.routine_choices() }}
    </p>
    <p>
    {{ form.submit() }}</p>
    </form>
    <BR>
    <a href='/routine_history'>Routine History</a>
    <HR>
    <a href="/logout">Logout</a>
  </body>
</html>
