{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flashes">
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<B>Perform routine: {{ routine.name }}</B>
    <BR>
<audio controls>
  <source src="{{ url_for('play_routine', routine_id=routine.routine_id) }}" type="audio/mpeg">
</audio>
<BR>
    <form method="POST">
    {{ form.hidden_tag() }}
    {{ form.submit() }}</p>
    </form>
<BR>
<a href='/dashboard'>Return to dashboard</a>
