body
{
    background-color: rgb(166, 234, 246);
    font-family: "Georgia", "Palatino", serif;
}
h1, h2
{
    text-align: center;
    color: #DD1600;
}
audio
{
    width: 100%;
    background: #006bbd;
    border-radius: 10px;
}
audio::-webkit-media-controls-play-button
{
    background-color: #83ceec;
    border-radius: 3px;
}
#submit, #routine_choices
{
    color: #006bbd;
}
.record-routine, .routine-choices
{
    text-align: center;
}
input[type=submit], select
{
    font-family: "Georgia", "Palatino", serif;
}
textarea
{
    vertical-align: top;
}
label
{
    display: inline-block;
    line-height: [textarea-height];
    font-weight: bold;
}
