body
{
    color: #83CEEC;
    background-color: #284177;
    font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
}
h1, h2
{
    text-align: center;
    color: #EDE8E4;
}
audio
{
    width: 100%;
    background: #006bbd;
    border-radius: 10px;
}
audio::-webkit-media-controls-play-button
{
    background-color: #83ceec;
    border-radius: 3px;
}
#submit, #routine_choices
{
    color: #EDE8E4;
    background-color: #284177;
}
.record-routine, .routine-choices
{
    text-align: center;
}
input[type=submit], select
{
    font-family: system-ui, 'Segoe UI', Roboto, sans-serif;                           ;
}
textarea
{
    vertical-align: top;
}
label
{
    display: inline-block;
    line-height: [textarea-height];
    font-weight: bold;
}
.flask-pagedown-preview
{
    text-align: left;
    background-color: white;
}
a
{
    color: #EDE8E4;
}
